@model Assignmet.CoursesManagement.Application.Models.ViewModels.CourseViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Details of the course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    <div class="form-group">
        <h4>Selected Students</h4>
        <table class="table-striped" WIDTH="50%" CELLPADDING="4" CELLSPACING="3">
            <tr>
                <th>Student Id</th>
                <th>Student Name</th>
                <th>Student No</th>
            </tr>
            @foreach (var student in @Model.Students)
            {
                <tr>
                    @if (student.IsSelected)
                    {
                        <td>@student.StudentId</td>
                        <td>@student.Name</td>
                        <td>@student.StudentNo</td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseId }) |
    <a asp-action="Index">Back to List</a>
</div>
